.app-pricing {
  padding: 54px 0 61px 0;
  background: url('../img/app-pricing-line-bg1.svg') left 200px no-repeat, $white-color;
  background-size: 40%;

  &__cards {
    margin-top: 55px;
  }

  &__card {
    margin: 15px 5px;
    position: relative;
    height: 100%;
    // max-width: 100%;
    // min-width: 280px;

    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding-bottom: 10%;

    h3 {
      margin-top: 30px;
      font-weight: 700;
      font-size: 1.28em;
      text-transform: uppercase;
      color: $black-color;
    }

    &--blue-text {
      color: #00C2EB;
    }

    &--green-text {
      color: #50CD13;
    }

    &--orange-text {
      color: #FF9C00;
    }
  }

  &__card-icon-free {
    position: absolute;
    left: 30px;
    top: -9px;
    width: 45/14+em;
    height: 53/14+em;


    &--blue {
      background: url('../img/card-icon-free-blue.png') center center no-repeat;
    }

    &--green {
      background: url('../img/card-icon-free-green.png') center center no-repeat;
    }

    &--orange {
      background: url('../img/card-icon-free-orange.png') center center no-repeat;
    }
  }

  &__card-head-img {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 5% 0;
    height: 30%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;

    img {
      width: 25%;
    }

    &--bg-blue {
      background: url('../img/card-bg-blue.jpg') center center no-repeat;
      background-size: cover;
    }

    &--bg-green {
      background: url('../img/card-bg-green.jpg') center center no-repeat;
      background-size: cover;
    }

    &--bg-orange {
      background: url('../img/card-bg-orange.jpg') center center no-repeat;
      background-size: cover;
    }
  }

  &__card-price {
    position: relative;
    margin-top: 23px;
    font-weight: 700;
    font-size: 3.21em;
    text-transform: uppercase;

    span {
      position: relative;
      top: -20px;
      right: 5px;
      margin-top: 10px;
      font-weight: 500;
      font-size: 0.33em;
      text-transform: uppercase;
    }


  }

  &__card-month {
    font-weight: 700;
    font-size: 1.14em;
    text-transform: uppercase;
  }

  &__card-list {
    margin-top: 22px;

    li {
      color: $black-color;
      padding: 9px 0;
    }
  }

  &__card-button {
    display: inline-block;
    margin-top: 30px;
    border-radius: 1em;
    padding: 4% 5%;
    color: $white-color;
    font-weight: 700;
    margin-bottom: 40px;

    &--blue {
      background: #00C2EB;
      box-shadow: 0px 4px 7px rgba(0, 194, 235, 0.21);
    }

    &--green {
      background: #50CD13;
      box-shadow: 0px 4px 7px rgba(80, 205, 19, 0.2);
    }

    &--orange {
      background: #FF9C00;
      box-shadow: 0px 4px 7px rgba(255, 156, 0, 0.2);
    }
  }

}

@media (max-width:768px) {
  .app-pricing {
    &__card {
      font-size: 1.4em;
    }

    &__card-head-img {
      height: 200px;
    }
  }
}

@media (max-width:576px) {
  .app-pricing {
    background-position: left 130px;
    background-size: 65%;
    &__card {
      font-size: 1em;
    }
  }
}

@media (max-width:390px) {
  .app-pricing {
    &__card {
      font-size: 0.75em;
    }
  }
}