$baseFont : 14;
$md : 768px;
$sd : 480px;

@function r($num) {
  @return $num / $baseFont+rem;
}

.nav-button {
  display: block;
  background: linear-gradient(180deg, #383838 0%, #202020 100%);
  border-radius: r(5);
  font-weight: 700;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  color: #EAEAEA;
  text-align: center;
  padding: r(6) r(10);
  line-height: r(17);
  font-size: r(14);
  white-space: nowrap;

  &--enter {
    background: linear-gradient(180deg, #F6BC24 0%, #EC8A41 100%);
  }
}

.form-button {
  display: block;
  border-radius: r(14);
  padding: r(12);
  color: $white-color;
  font-weight: 700;
  background: #00C2EB;
  box-shadow: 0px 4px 7px rgba(0, 194, 235, 0.21);
  border: none;
  cursor: pointer;
  width: 100%;

  &:hover {
    opacity: 0.6;
  }
}

.form-text-input {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: r(9);
  padding: r(12) r(14);
  outline: none;

  &::placeholder {
    color: #D1D1D1;
  }
}

.social {
  margin-top: r(27);
  background: #EAEAEA;
  border-radius: r(9);
  padding: r(6) r(10);
  display: flex;
  justify-content: center;
  align-items: center;


  &__wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: r(332);
  }

  &__link {
    pointer-events: none;
    filter: grayscale(1);
  }

  &__img {
    max-width: r(32);
    opacity: 1;
    transition: all 0.5s ease;

    &:hover {
      opacity: 0.6;
    }

    @media (max-width: $md) {
      margin: r(5);
    }
  }
}

.select-lang {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(0deg, rgba(123, 123, 123, 0.25) -4.69%, rgba(255, 255, 255, 0.25) 128.12%);
  border-radius: 5px;
  padding: r(6) r(28) r(6) r(8);


  &__img {
    width: r(16);
    object-fit: cover;
    height: auto;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 20px;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &::after {
    position: absolute;
    content: '';
    right: 5px;
    background: url('../img/arrow.svg') center center no-repeat;
    width: 9px;
    height: 9px;
    transition: all 0.2s ease;
  }

  &__body {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: linear-gradient(180deg, #383838 0%, #202020 100%);
    border-radius: 5px;
    width: 150px;
  }

  &__link {
    display: inline-block;
    font-size: r(14);
    line-height: r(17);
    color: $white-color;
    padding: r(5) r(10) r(5) r(35);
    transition: all 0.3s ease;

    &:hover {
      color: $accent-color;
    }

    &--ru {
      background: url('../img/flag-ru.svg') r(15) center no-repeat;
      background-size: r(16);
    }

    &--uk {
      background: url('../img/flag-uk.svg') r(15) center no-repeat;
      background-size: r(16);
    }
  }

  &:hover::after {
    transform: rotate(180deg);
  }

  &:hover ul {
    display: block;
  }

}



