.faq {
  padding: 47px 0 70px 0;

  &__title {
    font-style: italic;
    font-weight: 800;
    font-size: r(38);
    line-height: r(38);
    text-align: center;
    text-transform: uppercase;
    color: $black-color;

    @media (max-width: $md) {
      font-size: r(35);
    }
  }

  &__accordion {
    margin-top: r(40);
  }

  .ui-accordion {
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 9px 0 9px 50px;

    .ui-accordion-header {
      display: flex;
      align-items: center;
      background-color: $white-color;

      font-weight: 500;
      font-size: 1em;
      padding: 17px 60px 17px 0;
      color: $black-color;
      border: none;
      background: url('../img/accordion-border-header.svg') right bottom no-repeat;

      .ui-icon {
        position: absolute;
        background: url(../img/accordion-icon-2.svg) center center no-repeat;
        right: 30px;
        transition: all 0.5s ease;
        transform: rotate(-90deg);
      }
    }

    .ui-accordion-header-active {
      background: $white-color;

      .ui-icon {
        background: url(../img/accordion-icon-1.svg) center center no-repeat;
        transform: rotate(0deg);
      }
    }

    .ui-accordion-content {
      border: none;
      background: linear-gradient(180deg, #EFF5FF -36.11%, rgba(239, 239, 239, 0) 235.83%);
      border-radius: 10px;
      margin: 0 30px 0 0;
      height: auto !important;
    }

  }

}

.accordion {
  background: $white-color;
  box-shadow: 0px r(4) r(20) rgba(0, 0, 0, 0.15);
  border-radius: r(20);
  padding: r(10) 0 r(10) r(50);

  &__title {
    position: relative;
    font-weight: 500;
    font-size: r(14);
    line-height: r(17);
    padding: r(20) r(40) r(20) 0;
    background: url('../img/accordion-border-header.svg') right bottom no-repeat;
    background-size: 100%;

    &::after {
      position: absolute;
      right: r(30);
      top: 40%;
      content: '';
      width: r(16);
      height: r(10);
      background: url(../img/accordion-icon-2.svg) center center no-repeat;
      background-size: contain;
      transform: rotate(-90deg);
      transition: all 0.2s ease-out;
    }
  }

  .active {
    background: none;

    &::after {
      background: url(../img/accordion-icon-1.svg) center center no-repeat;
      background-size: contain;
      transform: rotate(0deg);
    }
  }

  &__body {
    background: linear-gradient(180deg, #EFF5FF -36.11%, rgba(239, 239, 239, 0) 235.83%);
    border-radius: r(10);
    padding: r(20) r(10);
    margin-right: r(20);
    display: none;
  }
}