.how-it-works {
  background:  url('../img/how-it-work-bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 5% 0 6% 0;

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    flex: 1;

    @media (max-width: $md) {
      flex: 1 1 100%;
    }
  }

  &__text {
    padding-top: r(60);
    padding-left: r(20);
    flex: 1;

    @media (max-width: $md) {
      padding-top: r(40);
      padding-left: r(100);
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    margin-top: r(50);
    // background: url('../img/how-it-work-cards-bg.svg') center center no-repeat;

    @media (max-width: $md) {
      grid-template-columns: repeat(1, 1fr);
      margin-top: r(20);
    }
  }

  .card {
    position: relative;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 102.82%);
    border-radius: 20px;
    color: $white-color;
    padding: 20px;
    flex: 0 1 33%;
    margin: r(10);
    transition: all 0.3s ease-out;

    &::after {
      position: absolute;
      content: '';
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 10px solid #444444;
    }

    &:nth-child(1)::after,
    &:nth-child(2)::after,
    &:nth-child(7)::after,
    &:nth-child(8)::after {
      right: r(-15);
      bottom: 50%;
    }

    &:nth-child(3)::after,
    &:nth-child(4)::after {
      right: 50%;
      bottom: r(-15);
      transform: rotate(90deg);
    }

    &:nth-child(5)::after,
    &:nth-child(6)::after {
      left: r(-15);
      bottom: 50%;
      transform: rotate(180deg);
    }

    &:nth-child(9)::after {
      display: none;
    }

    &__icon {
      width: r(80);
      height: r(80);
      filter: invert(50%) sepia(98%) saturate(1350%) hue-rotate(151deg) brightness(102%) contrast(101%);

      &--user_check {
        background: url('../img/user_check_icon.svg') center center no-repeat;
        background-size: contain;
      }

      &--crosshair_icon {
        background: url('../img/crosshair_icon.svg') center center no-repeat;
        background-size: contain;
      }

      &--palette_icon {
        background: url('../img/palette_icon.svg') center center no-repeat;
        background-size: contain;
      }

      &--device_mobile_icon {
        background: url('../img/device_mobile_icon.svg') center center no-repeat;
        background-size: contain;
      }

      &--rocket_icon {
        background: url('../img/rocket_icon.svg') center center no-repeat;
        background-size: contain;
      }

      &--pen_icon {
        background: url('../img/pen_icon.svg') center center no-repeat;
        background-size: contain;
      }

      &--coin_icon {
        background: url('../img/coin_icon.svg') center center no-repeat;
        background-size: contain;
      }

      &--users_icon {
        background: url('../img/users_icon.svg') center center no-repeat;
        background-size: contain;
      }

      &--user_check_icon {
        background: url('../img/user_check_icon.svg') center center no-repeat;
        background-size: contain;
      }

      &--mood_happy_icon {
        background: url('../img/mood_happy_icon.svg') center center no-repeat;
        background-size: contain;
      }

    }

    &__title {
      margin-top: r(55);
      font-weight: 400;
      font-style: normal;
      font-size: r(20);
      line-height: r(24);
      text-transform: uppercase;
    }

    &__body {
      margin-top: r(20);
      font-weight: 400;
      font-style: normal;
      font-size: r(14);
      line-height: r(17);
    }

    &.active {
      background: linear-gradient(0deg, #00C2EB 0.15%, #008DE0 124.18%);
      box-shadow: 0px 0px 50px rgba(0, 194, 235, 0.5);
      border-radius: 20px;

      &::after {
        position: absolute;
        content: '';
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 10px solid $accent-color;
      }
    }

    &.active .card__icon {
      filter: invert(100%) sepia(0%) saturate(7496%) hue-rotate(325deg) brightness(98%) contrast(105%);
    }

    @media (max-width: $md) {
      &:nth-child(n)::after {
        left: auto;
        right: 50%;
        bottom: r(-17);
        transform: rotate(90deg);
      }
    }
  }

}