@import "fonts";
@import "reset";
@import "colors";
@import "common";

@import "header";
@import "about";
@import "why-us";
@import "how-it-works";
@import "app-pricing";
@import "participate";
@import "faq";
@import "contact_us";
@import "footer";
@import "modal";

html {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(8px + 6 * (100vw / 1441));

  @media (max-width: $md) {
    font-size: 14px;
  }
}

body {
  padding-top: r(65);
}


a {
  text-decoration: none;
}

.container {
  max-width: r(1100);
  margin: 0 auto;
  padding: 0 r(90);

  @media (max-width: $md) {
    padding: 0 r(50);
  }

  @media (max-width: $sd) {
    padding: 0 r(20);
  }
}

.section-title {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200;
  font-size: r(50);
  line-height: r(66);
  text-transform: uppercase;
  color: $black-color;

  &--light {
    color: $white-color
  }

  @media (max-width: $md) {
    font-weight: 300;
    font-size: r(35);
    line-height: r(33);
  }
}

.section-text {
  font-style: italic;
  font-weight: 500;
  font-size: r(20);
  line-height: r(24);
  color: $black-color;

  p{
    margin: r(20) 0;
  }

  &--light{
    color: $white-color
  }

  @media (max-width: $md) {
    font-weight: 500;
    font-size: r(16);
    line-height: r(20);
  }
}

